$color-purewhite: #fff;
$color-white: #fafafa;
$color-pureblack: #000;
$color-black: #212121;
$color-gray: #555;
$color-brightgray: #f1f1f1;
$color-lightgray: #cecece;
$color-purered: #f00;
$color-red: #c00;

$width-pc-large: 1440px;
$width-pc-small: 1280px;
$width-tablet-large: 960px;
$width-tablet-small: 640px;
$width-mobile: 480px;
